body.dark {
    background-image: url(../img/1601057405102-peepo.webp);
    background-size: cover;
    background-repeat: no-repeat;
    color: #e0e0e0;
}

nav.dark,
header.dark,
form.dark,
footer.dark {
    background-color: #232323;
    color: #e0e0e0;
}

h1.dark,
a.dark,
input.dark,
button.dark,
label.dark,
p.dark {
    color: #e0e0e0;
}

button.dark {
    background-color: #232323;
}

input.dark {
    background-color: #232323;

}


thead.dark,
tbody.dark {
    background-color: #000000;
}

td.dark {
    background-color: black;
}